<a href="https://colab.research.google.com/github/matheusccouto/meli-data-challenge-2021/blob/main/meli-data-challenge-2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![mercado-libre](https://ml-challenge.mercadolibre.com/static/images/logo-mercado-libre_en.png)

# MeLi Data Challenge 2021
This notebook is my attempt on the 2021 Mercado Libre Data Challenge

## The Challenge
Build a model to forecast item inventory days based on Mercado Libre historical data.

## The Task
The task is to predict how long it will take for the inventory of a certain item to be sold completely. In inventory management theory this concept is known as inventory days.

In the evaluation set I will be given the item target stock, and I will have to provide a prediction for the number of days it will take to run out. Possible values range from 1 to 30. Rather than giving a point estimate, you are expected to provide a score for each the possible outcomes.

To put it simply, you need to answer the following question:

**'What are the odds that the target stock will be sold out in one day?', 'What about in two days?' and so on until day 30.**

## Repository
This notebook is hosted on the this repository: [github.com/matheusccouto/meli-data-challenge-2021](https://github.com/matheusccouto/meli-data-challenge-2021)

Check-out the different branches to see all approaches tested.

## Load Data

### Download data
Download challenge data from [ml-challenge.mercadolibre.com/downloads](https://ml-challenge.mercadolibre.com/downloads).

In [1]:
import os

import requests

# Folder where I will place data.
DATA_DIR = "data"

# URL to download data.
DATA_URL_LIST = [
    r"https://meli-data-challenge.s3.amazonaws.com/2021/test_data.csv",
    r"https://meli-data-challenge.s3.amazonaws.com/2021/train_data.parquet",
    r"https://meli-data-challenge.s3.amazonaws.com/2021/items_static_metadata_full.jl",
    r"https://meli-data-challenge.s3.amazonaws.com/2021/sample_submission.csv.gz",
]


def download(url, path, ignore_if_exists=True):
    """Download files from the web."""
    # Check if it should be skipped.
    if ignore_if_exists and os.path.exists(path):
        return path  # return path to the user.
    # Request file.
    response = requests.get(url, allow_redirects=True)
    # Make sure the target folder exists.
    os.makedirs(os.path.dirname(path), exist_ok=True)
    # Save file.
    with open(path, mode="wb") as file:
        file.write(response.content)
    return path  # return path to the user.


for data_url in DATA_URL_LIST:
    # Create path for the file.
    data_name = os.path.basename(data_url)
    data_path = os.path.join(DATA_DIR, data_name)
    # Download file.
    print(f"Downloading {data_url} to {data_path}")
    download(url=data_url, path=data_path, ignore_if_exists=True)
    # Make sure download was succesful.
    assert os.path.exists(data_path)
    # And make sure the file is not damaged (at least 1MB)
    assert os.path.getsize(data_path) > 1e6

Downloading https://meli-data-challenge.s3.amazonaws.com/2021/test_data.csv to data/test_data.csv
Downloading https://meli-data-challenge.s3.amazonaws.com/2021/train_data.parquet to data/train_data.parquet
Downloading https://meli-data-challenge.s3.amazonaws.com/2021/items_static_metadata_full.jl to data/items_static_metadata_full.jl
Downloading https://meli-data-challenge.s3.amazonaws.com/2021/sample_submission.csv.gz to data/sample_submission.csv.gz

### Train Set
This dataset comprises two months of daily sales data for a subset of Mercadolibre SKUs (stock keeping units) . Each row corresponds to a particular date-SKU combination. Besides SKU and date, for each row, the following fields are available:

|Attributes|Description|
|---|---|
|sold_quantity|Number of units of the corresponding SKU that were sold on that particular date.|
|current_price|Point in time correct listing price.|
|currency|Currency in which the price is expressed.|
|listing_type|Type of listing the SKU had for that particular date. Possible values are classic or premium and they relate to the exposure the items receive and the fee charged to the seller as a sales comission.|
|shipping_logistic_type|Type of shipping method the SKU offered, for that particular date. Possible values are fulfillment, cross_docking and drop_off.|
|shipping_payment|Whether the shipping for the offered SKU at that particular date was free or paid, from the buyer's perspective.|
|minutes_active|Number of minutes the SKU was available for purchase on that particular date.|

In [2]:
import pandas as pd

train_set = pd.read_parquet(os.path.join("data", "train_data.parquet"))
print(f"shape = {train_set.shape}")
train_set.head()

shape = (37660279, 9)

      sku        date  ...  shipping_payment  minutes_active
0  464801  2021-02-01  ...     free_shipping          1440.0
1  464801  2021-02-02  ...     free_shipping          1440.0
2  464801  2021-02-03  ...     free_shipping          1440.0
3  464801  2021-02-04  ...     free_shipping          1440.0
4  464801  2021-02-05  ...     free_shipping          1440.0

[5 rows x 9 columns]

### Test Set
For testing, the following file is provided test_data.csv. This file contains only two columns:

|Attribute|Description|
|---|---|
|SKU|indicates the SKU for which you have to make your prediction|
|target_stock|inventory level (aka number of units of the corresponding SKU for which you have to provide your estimation of inventory days.|

In [3]:
test_set = pd.read_csv(os.path.join("data", "test_data.csv"))
print(f"shape = {test_set.shape}")
test_set.head()

shape = (551472, 2)

      sku  target_stock
0  464801             3
1  645793             4
2   99516             8
3  538100             8
4  557191            10

### Items Data
In the file items_static_metadata.jl there is some extra data related to the SKUs characteristics. The file contains a list of dictionaries where each of them contains metadata for a specific SKU . The following fields are available:

|Attribute|Description|
|---|---|
|SKU|stock-keeping-unit. This is a unique identifier for each distinct, physical inventory unit.|
|item_id|unique identifier of the listing the SKU belongs to. The same listing can be associated with more than one SKUs, for example, if different variations of the same item are offered in the listing.|
|item_domain_id|listing's domain id. A domain is a kind of listings clustering within MercadoLibre.|
|item_title|the listing's title in the marketplace.|
|site_id|the MercadoLibre's site the listing belongs to. The labels MLB, MLA and MLM refer to Brazil, Argentina and Mexico respectively.|
|product_id|listing product id. Field might be null for some listings.|
|product_id_family|listing product family id. Field might be null for some listings.|

In [4]:
items_data = pd.read_json(os.path.join("data", "items_static_metadata_full.jl"), lines=True)
print(f"shape = {items_data.shape}")
items_data.head()

shape = (660916, 7)

        item_domain_id  item_id  ... product_id product_family_id
0         MLB-SNEAKERS   492155  ...       None       MLB15832732
1  MLB-SURFBOARD_RACKS   300279  ...       None              None
2        MLM-NECKLACES    69847  ...       None              None
3            MLM-RINGS   298603  ...       None              None
4          MLB-WEBCAMS   345949  ...       None              None

[5 rows x 7 columns]

### Sample Submission
A sample submission file for you to visualize the expected format of a submission.

In [5]:
sample_submission = pd.read_csv(os.path.join("data", "sample_submission.csv.gz"), header=None)
print(f"shape = {sample_submission.shape}")
sample_submission.head()

shape = (551472, 30)

      0      1      2      3      4   ...     25     26     27     28     29
0  0.052  0.006  0.044  0.001  0.061  ...  0.058  0.051  0.010  0.004  0.068
1  0.026  0.052  0.008  0.036  0.027  ...  0.030  0.023  0.020  0.024  0.050
2  0.067  0.008  0.043  0.020  0.012  ...  0.059  0.040  0.014  0.066  0.052
3  0.017  0.045  0.027  0.045  0.036  ...  0.045  0.060  0.063  0.004  0.003
4  0.011  0.038  0.020  0.000  0.067  ...  0.032  0.048  0.035  0.026  0.043

[5 rows x 30 columns]

## Data Wrangling
In this section I will make sure the data is ready to be analyzed.

### Train Set

#### Dtypes
Make sure data is the appropiated format.

In [6]:
train_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37660279 entries, 0 to 37660278
Data columns (total 9 columns):
 #   Column                  Dtype
---  ------                  -----
 0   sku                     int64
 1   date                    object
 2   sold_quantity           int64
 3   current_price           float64
 4   currency                object
 5   listing_type            object
 6   shipping_logistic_type  object
 7   shipping_payment        object
 8   minutes_active          float64
dtypes: float64(2), int64(2), object(5)
memory usage: 2.5+ GB

Date is stored as object and should be interpreted as date.

In [7]:
train_set["date"] = pd.to_datetime(train_set["date"])
print(f"Dates go from {train_set['date'].min().strftime('%Y-%m-%d')} to {train_set['date'].max().strftime('%Y-%m-%d')}")

Dates go from 2021-02-01 to 2021-03-31

Other columns can also be optimized. Since this dataset is huge and I am working very near the memory limit, it is a good idea to optimize as much as possible.

In [8]:
train_set[["sku", "sold_quantity", "minutes_active", "current_price"]].max()

sku                  660915.0
sold_quantity          6951.0
minutes_active         1440.0
current_price     999999999.0
dtype: float64

In [9]:
train_set = train_set.astype({
    "sku": "int32",
    "sold_quantity": "int16",
    "minutes_active": "int16",
    "current_price": "float32"
    })

# Check max valyes again to make sure it didn't clip any value.
train_set[["sku", "sold_quantity", "minutes_active", "current_price"]].max()

sku               6.609150e+05
sold_quantity     6.951000e+03
minutes_active    1.440000e+03
current_price     1.000000e+09
dtype: float64

The `current_price` clipped a single unit for the biggest value. It isn't problematic and I can keep up with it.

I will round to the second decimal case since it is a monetary value, and for a online listing the third case is not relevant.

In [10]:
train_set["current_price"] = train_set["current_price"].round(2)

I'll also see the possible values from all other object columns to see if there's something to be done.

In [11]:
for col in train_set.select_dtypes("object").columns:
    print(f"{col} classes are: {', '.join(train_set[col].unique().tolist())}")

currency classes are: REA, MEX, DOL, ARG
listing_type classes are: classic, premium
shipping_logistic_type classes are: fulfillment, cross_docking, drop_off
shipping_payment classes are: free_shipping, paid_shipping

#### Encoding
Object columns need to be encoded in order to be used in modelling. For the columns with only two classes I'll transform them into a single columns. The others with 3+ classes will receive a column for each column.

I won't drop one of them by now. Keeping all dummies may be bad for some algorithms, but for other dropping one of them is worse. I will keep all columns by now and decide what to do with these columns during modelling.

In [12]:
train_set = pd.get_dummies(train_set, columns=["listing_type", "shipping_payment"], drop_first=True)
train_set = pd.get_dummies(train_set, columns=["currency", "shipping_logistic_type"], drop_first=False)
train_set.head()

      sku  ... shipping_logistic_type_fulfillment
0  464801  ...                                  1
1  464801  ...                                  1
2  464801  ...                                  1
3  464801  ...                                  1
4  464801  ...                                  1

[5 rows x 14 columns]

Let's see memory usage now

In [13]:
train_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37660279 entries, 0 to 37660278
Data columns (total 14 columns):
 #   Column                                Dtype
---  ------                                -----
 0   sku                                   int32
 1   date                                  datetime64[ns]
 2   sold_quantity                         int16
 3   current_price                         float32
 4   minutes_active                        int16
 5   listing_type_premium                  uint8
 6   shipping_payment_paid_shipping        uint8
 7   currency_ARG                          uint8
 8   currency_DOL                          uint8
 9   currency_MEX                          uint8
 10  currency_REA                          uint8
 11  shipping_logistic_type_cross_docking  uint8
 12  shipping_logistic_type_drop_off       uint8
 13  shipping_logistic_type_fulfillment    uint8
dtypes: datetime64[ns](1), float32(1), int16(2), int32(1), uint8(9)
memory usage: 1.0 GB

Memory usage is much better now.

#### NaN
Check for NaNs in the dataset.

In [14]:
print(f"There are {train_set.isna().sum().sum()} NaNs in the dataset.")

There are 0 NaNs in the dataset.

### Test Set

#### Dtypes
Make sure data is the appropiated format.

In [15]:
test_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 551472 entries, 0 to 551471
Data columns (total 2 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   sku           551472 non-null  int64
 1   target_stock  551472 non-null  int64
dtypes: int64(2)
memory usage: 8.4 MB

It shows that there is no NaNs.

I will assign smaller dtypes for better memory usage. First I need to see the biggest values to check which dtype apply.

In [16]:
test_set.max()

sku             660914
target_stock     32710
dtype: int64

In [17]:
test_set = test_set.astype({"sku": "int32", "target_stock": "int16"})
test_set.max()  # Print max values to make sure values were not clipped.

sku             660914
target_stock     32710
dtype: int64

Let's check if there are any `sku` on `train_set` that is not present on `test_set`. I will only keep only those `sku` that needs to be predict in order to save resources.

In [18]:
diff = len(train_set["sku"].unique()) - len(test_set["sku"].unique())
print(f"There are {diff} more SKUs ont the train set.")
train_set = train_set[train_set["sku"].isin(test_set["sku"].unique())]
assert len(train_set["sku"].unique()) == len(test_set["sku"].unique())

There are 109444 more SKUs ont the train set.

#### Sparse Matrix
If you notice the submission is a dense matrix with the probabilities of the item running out on that given day.

To be comparable, the test set should be a sparse binary matrix with the day the item actually ran out.

As the train set is way too big I will extract only the relevant columns.

In [19]:
train_set_small = train_set[["sku", "date", "sold_quantity"]]  # Extract columns
train_set_small = train_set_small.sort_values(["sku", "date"])  # Sort for the cumulative sum
train_set_small["cum_sold_quantity"] = train_set_small.groupby(["sku"]).cumsum()

train_set_small.head()

         sku       date  sold_quantity  cum_sold_quantity
6094273    0 2021-02-01              0                  0
6094274    0 2021-02-02              0                  0
6094275    0 2021-02-03              0                  0
6094276    0 2021-02-04              0                  0
6094277    0 2021-02-05              0                  0

Merge train and test sets.

In [20]:
train_set_small = train_set_small.drop(columns="sold_quantity")  # Drop to release memory.
train_set_small = train_set_small.merge(test_set, on="sku", how="left")

assert train_set_small.isna().sum().sum() == 0
assert len(train_set_small["sku"].unique()) == len(test_set["sku"].unique())

del test_set  # Release memory

train_set_small.tail()

             sku       date  cum_sold_quantity  target_stock
31284422  660914 2021-03-27                 22             5
31284423  660914 2021-03-28                 22             5
31284424  660914 2021-03-29                 23             5
31284425  660914 2021-03-30                 23             5
31284426  660914 2021-03-31                 23             5

Calculate how many items there are for each date. When stock is 0 or less, it means it ran out of stock.

In [21]:
train_set_small["stock"] = train_set_small["target_stock"] - train_set_small["cum_sold_quantity"]
train_set_small = train_set_small.drop(columns=["cum_sold_quantity", "target_stock"])  # Drop to release memory.

train_set_small.tail()

             sku       date  stock
31284422  660914 2021-03-27    -17
31284423  660914 2021-03-28    -17
31284424  660914 2021-03-29    -18
31284425  660914 2021-03-30    -18
31284426  660914 2021-03-31    -18

I will simply the date representation as difference in days from the initial data.

The new representation will range from 0 to 29.

In [22]:
# Group by date and get the minimum of each group.
start_dates = train_set_small.groupby("sku")["date"].min()
# Rename series name.
start_dates.name = "start_date"
# Join the new column to the dataset
train_set_small = train_set_small.join(start_dates, on="sku")
del start_dates  # Release memory.
# Calculate days of difference.
train_set_small["day"] = (train_set_small["date"] - train_set_small["start_date"]).dt.days.astype("int16")
# Drop columns no longer necessary to free memory.
train_set_small = train_set_small.drop(columns=["date", "start_date"])

train_set_small.tail()

             sku  stock  day
31284422  660914    -17   54
31284423  660914    -17   55
31284424  660914    -18   56
31284425  660914    -18   57
31284426  660914    -18   58

Get the day where the first stock zero happens.

Also create a column for representing it is out of stock. Since this frame is all the days that it happened. It will be only ones.

In [23]:
out_of_stock_day = train_set_small[train_set_small["stock"]  == 0].groupby("sku").min()[["day"]]
out_of_stock_day["out_of_stock"] = 1

out_of_stock_day.head()

     day  out_of_stock
sku
0     44             1
3      5             1
5     56             1
6      3             1
10    12             1

Merge the out of stock column into the dataset. Also fill the rows that were not merged with zeroes, indicating they are not days where it ran out.

In [24]:
train_set_small = train_set_small.merge(out_of_stock_day, on=["sku", "day"], how="left")
del out_of_stock_day  # Release memory.
 # If not 1, then it should be 0
train_set_small["out_of_stock"] = train_set_small["out_of_stock"].fillna(0).astype("uint8")
train_set_small = train_set_small.drop(columns=["stock"])  # Drop column to release memory.

train_set_small.sample(5)

             sku  day  out_of_stock
29333646  619495   38             0
3155742    66589    8             0
26640536  562689   42             0
20372974  430187   55             0
26240379  554248   39             0

The output should be formatted as a sparse matrix, then I will pivot the data.

Notice that this dataset has 1 only for the days that it ran out of stock for the first time, it is not comulative.

In [25]:
y = train_set_small.pivot(index="sku", columns="day", values="out_of_stock").fillna(0).astype("uint8")  # use a light dtype
del train_set_small  # Release memory.

y.head()

day  0   1   2   3   4   5   6   7   8   ...  50  51  52  53  54  55  56  57  58
sku                                      ...
0     0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0   0
1     0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0   0
2     0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0   0
3     0   0   0   0   0   1   0   0   0  ...   0   0   0   0   0   0   0   0   0
5     0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   1   0   0

[5 rows x 59 columns]

Fill NaNs with values from 0.

In [26]:
y = y.fillna(0)

y.head()

day  0   1   2   3   4   5   6   7   8   ...  50  51  52  53  54  55  56  57  58
sku                                      ...
0     0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0   0
1     0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0   0
2     0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0   0
3     0   0   0   0   0   1   0   0   0  ...   0   0   0   0   0   0   0   0   0
5     0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   1   0   0

[5 rows x 59 columns]

Keep only values from the first 30 days.

In [27]:
y = y.iloc[:, :30]

# Make sure shape is right.
assert sample_submission.shape == y.shape

y.head()

day  0   1   2   3   4   5   6   7   8   ...  21  22  23  24  25  26  27  28  29
sku                                      ...
0     0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0   0
1     0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0   0
2     0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0   0
3     0   0   0   0   0   1   0   0   0  ...   0   0   0   0   0   0   0   0   0
5     0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0   0

[5 rows x 30 columns]

### Items Data

#### Dtypes
Make sure data is the appropiated format.

In [28]:
items_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660916 entries, 0 to 660915
Data columns (total 7 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   item_domain_id     660913 non-null  object
 1   item_id            660916 non-null  int64
 2   item_title         660916 non-null  object
 3   site_id            660916 non-null  object
 4   sku                660916 non-null  int64
 5   product_id         29668 non-null   object
 6   product_family_id  83184 non-null   object
dtypes: int64(2), object(5)
memory usage: 35.3+ MB

Let's check max values to see which types to apply.

In [29]:
items_data.max()

item_id                           517895
item_title    Útiles Set Basico Todomoda
site_id                              MLM
sku                               660915
dtype: object

Apply and verify if the transformation didn't clip.

In [30]:
items_data = items_data.astype({
    "item_id": "int32",
    "sku": "int32",
})
items_data.max()

item_id                           517895
item_title    Útiles Set Basico Todomoda
site_id                              MLM
sku                               660915
dtype: object

`sku` should be this dataset index.

In [31]:
items_data = items_data.set_index("sku")
items_data.head()

          item_domain_id  item_id  ... product_id product_family_id
sku                                ...
0           MLB-SNEAKERS   492155  ...       None       MLB15832732
1    MLB-SURFBOARD_RACKS   300279  ...       None              None
2          MLM-NECKLACES    69847  ...       None              None
3              MLM-RINGS   298603  ...       None              None
4            MLB-WEBCAMS   345949  ...       None              None

[5 rows x 6 columns]

#### Encoding
Let's check if some of these columns are able to be encoded.

In [32]:
for col in items_data.select_dtypes("object").columns:
    print(f"{col} has {len(items_data[col].unique())} classes")

item_domain_id has 8409 classes
item_title has 478175 classes
site_id has 3 classes
product_id has 15864 classes
product_family_id has 29601 classes

It seems only `site_id` is categorical. The remainded cannot be encoded by now.

For the same reason as before. I won't drop one of the encoded categories. I will leave this decision to later on.

In [33]:
items_data = pd.get_dummies(items_data, columns=["site_id"], drop_first=False)
items_data.head()

          item_domain_id  item_id  ... site_id_MLB site_id_MLM
sku                                ...
0           MLB-SNEAKERS   492155  ...           1           0
1    MLB-SURFBOARD_RACKS   300279  ...           1           0
2          MLM-NECKLACES    69847  ...           0           1
3              MLM-RINGS   298603  ...           0           1
4            MLB-WEBCAMS   345949  ...           1           0

[5 rows x 8 columns]

#### NaNs
The columns `product_id` and `product_family_id` are mostly NaNs. I will deal with them later. 

The `item_domain_id` is has only a few missing rows. I will deal with them manually.

In [34]:
items_data[items_data['item_domain_id'].isna()]

       item_domain_id  item_id  ... site_id_MLB site_id_MLM
sku                             ...
454273           None   245417  ...           1           0
459892           None   283198  ...           1           0
553503           None   114028  ...           1           0

[3 rows x 8 columns]

In [35]:
# Iterate over SKU that has missing data on item_domain_id.
for sku in items_data[items_data["item_domain_id"].isna()].index:
    print(f"sku = {sku}")
    print(f"item_title = {items_data.loc[sku]['item_title']}")

    # Filter only lines from same product_family_id.
    product_family_id = items_data[items_data["product_family_id"] == items_data.loc[sku]["product_family_id"]]

    # If the only line is the one that we are trying to fill, send a error message.
    if product_family_id["item_domain_id"].isna().all():
        print("No other products on the same family to compare to.\n")
    
    # But if it has, fill the missing values.
    else:
        item_domain_id = product_family_id["item_domain_id"].dropna().iloc[0]
        print(f"item_domain_id = {item_domain_id}\n")
        items_data.loc[sku, "item_domain_id"] = item_domain_id

sku = 454273
item_title = Fone De Ouvido Multilaser Tws Ph326 Airbud Sem Fio Microfone
item_domain_id = MLB-HEADPHONES

sku = 459892
item_title = Headset Gamer Multilaser P2 Ph123 Preto E Verde
No other products on the same family to compare to.

sku = 553503
item_title = Prancha De Cabelo Taiff Elegance Frizz Cerâmica 230ºc Bivolt
item_domain_id = MLB-HAIR_STRAIGHTENERS

The *Headset Gamer Multilaser P2 Ph123 Preto E Verde* must be filled manually. I'll fill it with *MLB-HEADPHONES*

In [36]:
items_data.loc[459892, "item_domain_id"] = "MLB-HEADPHONES"
print(f"Amount of missing data = {items_data['item_domain_id'].isna().sum()}")

Amount of missing data = 0

### Sample Submission

#### Dtypes
Make sure data is the appropiated format.

In [37]:
sample_submission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 551472 entries, 0 to 551471
Data columns (total 30 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       551472 non-null  float64
 1   1       551472 non-null  float64
 2   2       551472 non-null  float64
 3   3       551472 non-null  float64
 4   4       551472 non-null  float64
 5   5       551472 non-null  float64
 6   6       551472 non-null  float64
 7   7       551472 non-null  float64
 8   8       551472 non-null  float64
 9   9       551472 non-null  float64
 10  10      551472 non-null  float64
 11  11      551472 non-null  float64
 12  12      551472 non-null  float64
 13  13      551472 non-null  float64
 14  14      551472 non-null  float64
 15  15      551472 non-null  float64
 16  16      551472 non-null  float64
 17  17      551472 non-null  float64
 18  18      551472 non-null  float64
 19  19      551472 non-null  float64
 20  20      551472 non-null  float64
 21  21      551472 non-null  float64
 22  22      551472 non-null  float64
 23  23      551472 non-null  float64
 24  24      551472 non-null  float64
 25  25      551472 non-null  float64
 26  26      551472 non-null  float64
 27  27      551472 non-null  float64
 28  28      551472 non-null  float64
 29  29      551472 non-null  float64
dtypes: float64(30)
memory usage: 126.2 MB

Since it iis required a 4 digits precision, we can use a lighter dtype.

In [38]:
sample_submission = sample_submission.astype("float32")

## Data Analysis

## Feature Engineering

## Model Development

## Model Evaluation

### Metric
Submissions will be scored using the **Ranked Probability Score (RPS)** metric.

**Ranked Probability Score** is a squared measure that compares the **estimated cumulative density function** of a probabilistic forecast with the **actual cumulative density function** of the corresponding observation. Under a discrete scenario of possible outcomes, the RPS formula is as follows:

$$ RPS = \frac{1}{N}\sum_{i=1}^{N}\left[\sum_{K=1}^{K}(Y_K(i) - O_K(i))^2\right] $$

where:

* $N$ is the number of rows in the dataset,
* $O$ represents the target,
* $K$ is the number of classes, and
* $Y$ is the predicted probability.

The **RPS** metric can be more easily understood graphically. The figure below illustrates how the value **RPS** takes is simply the square of the area where the predicted cumulative probability function and the ground truth do not overlap each other.

![rps-intuition](https://ml-challenge.mercadolibre.com/static/images/2021/metric_fig_5.png)

The main advantage of **RPS**, in comparison with other common metrics for forecasting problems, is that it is **sensitive to distance**, which means that a forecast is increasingly penalized the more its predictions differ from the actual outcome. This property is especially attractive for the task at hand from a business perspective: in order to manage inventory efficiently at MercadoLibre’s fulfillment centers, we would like the forecast to be as close as possible to the actual value of inventory days, besides the fact of just hitting the target number of inventory days with the highest point-probability estimate.

Disclaimer: you do NOT have to submit CUMULATIVE PROBABILITIES. **You are expected to provide point-probability estimates and the scorer itself will compute the accumulation.**

In [39]:
import numpy as np


def rps(y, o):
    """Ranked Probability Score"""
    if y.shape != o.shape:
        raise ValueError(f"y shape is {y.shape}. Expected shape was {o.shape}")

    # Round Y.
    y = np.round(y, decimals=4)

    # Normalize Y.
    y = np.divide(y, np.sum(y, axis=1).reshape(-1, 1))

    # Y and O are PDF and must be converted to CDF.
    y = np.cumsum(y, axis=1)
    o = np.cumsum(o, axis=1)

    # Sum the squares differences.
    return np.square(y - o).sum(axis=1).sum(axis=0) / y.shape[0]



rps(sample_submission.values, y.values)

8.57674407315642